body {
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

h1 {
	color: #0A0A23;
	border-bottom: 10px dotted #094dfa;
}

/* Navigation */
nav {
	background: #ab2d1f;
	width: 70px;
	height: 1203px;
	position: left;
	margin-left: 40px;
}

a {
	line-height: 4;
	color: white;
	font-weight: bolder;
	text-decoration: none;
	margin-left: 47px;
	position: left;
	left: -12px;
}

a:hover {
	color: yellow;
}

a.active {
	color: lime;
}